<div>
  Player 1 : <%= @game.player_1.name %>
                                    <br/>
    <%=@game.player_1.name%>'s Hitpoints:  <%=@game.player_1.hp%>       <br/>

  Player 2 : <%= @game.player_2.name %>
                                    <br/>
    <%=@game.player_2.name%>'s Hitpoints: <%=@game.player_2.hp%>            <br/>

</div>

<div>
    <form action='/attack' method="post">
      <input type="submit" value="Attack">
    </form>
</div>
